
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>
<form action="/Cuenta/Crear" method="post">

    <div class="form-group">
        <label>Entidad Financiera</label>
        <input type="text" class="form-control" name="Nombres" placeholder="Nombre">
        @Html.ValidationMessage("Nombres")
    </div>

    <div class="form-group">
        <label>Categoria</label>
        <select name="Categoria" class="form-control">
            <option value="Propia">Propia</option>
            <option value="Credito">Credito</option>
        </select>
    </div>

    <div class="form-group">
        <label>Saldo</label>
        <input type="text" class="form-control" name="Saldo" placeholder="Saldo">
        @Html.ValidationMessage("Saldo")
    </div>

    <button class="btn btn-primary">Guardar</button>

</form>